this will edit the post
<form action="/blogs/<%= @blog.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="info">Info:</label>
<textarea name="info" style="width:auto; height:auto;"><%=@blog.info%></textarea>
<input type="submit" name="" value="Publish Edit">
</form>
