<h2>ALL BLOG POST</h2>

<% @blogs.each do |blog| %>
  <p><%= blog.info%></p>
  <h4><a href="/blogs/<%= blog.id%>"><%= blog.created_at%></a></h4>
  <p>Published By: <%= blog.author.user_name%></p>
  <br><br>
<%end%>
