<h2>Welcome To The Club!</h2>
<header>Please Enter Your Info To Signup!</header>


<form class="" action="/authors" method="post">
<label for="user_name">Please make a Username:</label>
<input type="text" name="user_name" value=""> 

<label for="email">Please Enter your email:</label>
<input type="text" name="email" value="">

<label for="password">Please Create Unique Password:</label>
<input type="text" name="password" value="">

<input type="submit" name="" value="Create Author">
</form> 

